.project_container {
  width: 100%;
  min-width: 300px;
  min-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project_area_title {
  width: 100%;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.project_area_content {
  min-width: 300px;
  min-height: 150px;

  max-width: 1000px;

  width: 80%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.company_logo:hover {
  outline: 2px solid #363636;
}

.company_logo--majo {
  width: 110px;
  height: 66px;
}

.company_logo--majo {
  background-image: url("../Images/MajoGrayscale.png");
}

.company_logo--majo:hover {
  background-image: url("../Images/majo.png");
  transition: background-image ease 0.2s
}

.company_logo--esnporto {
  width: 110px;
  height: 31px;
}

.company_logo--esnporto {
  background-image: url("../Images/esnporto_smallGrayScale.png");
}

.company_logo--esnporto:hover {
  background-image: url("../Images/esnporto_small.png");
  transition: background-image ease 0.2s
}

.company_logo--thisplace {
  width: 110px;
  height: 46px;
}

.company_logo--thisplace {
  background-image: url("../Images/this_place_small.png");
}

.company_area {
  width: 100%;
  height: 100%;
}

.company_area--info {
  width: 100%;
  height: 75px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.company_area--name {
  margin-left: 50px;
  font-size: 25px;
}
