html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;

  background-color: #2B2B2B;

  font-family: DejaVu Sans;

  overflow: hidden;

  position: relative;
}

.no_select_text {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#main_container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#main_menu_container {
  width: 100%;
  height: 100%;
}

#name_and_menu {
  width: 100%;
  height: calc(100% - 35px);

  display: flex;
  justify-content: center;
  align-items: center;
}

#name_and_menu_wrapper {
  width: 100%;
  height: 200px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#name_wrapper {

  width: 50%;
  height: calc(50% - 3px);

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#name_content {

  height: 0px;

  overflow: hidden;

  color: white;
  font-size: 50px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  animation-name: name_appear;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

@keyframes name_appear {
  from {height: 0px;}
  to {height: 100%;}
}

#border_separater {
  width: calc(100% - 50px);
  height: 3px;

  margin: 0px 25px;
}

#border_filler {
  width: 0px;
  height: 100%;

  background-color: white;

  animation-name: border_filler; /* the name of the animation we defined above */
  animation-iteration-count: 1; /* how many times the animation will play */
  animation-timing-function: ease-in; /* how the animation will behave */
  animation-duration: 2s; /* the duration of the animation */
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; /* prevent from going back to the begining*/
}

@keyframes border_filler {
    from {width: 0px;}
    to {width: 100%;}
}

#menu_wrapper {
    width: 50%;
    height: 50%;
}

#main_footer {
  width: 100%;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

#menu_area {
  width: calc(100% - 25px);
  height: 0px;

  overflow: hidden;

  margin: 0px;
  padding: 0px;

  list-style-type: none;

  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  align-items: center;

  animation-name: name_appear;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

#menu_area > li {
  width: 33.3%;
  height: 100%;

  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#menu_area > li:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: #363636;
}

#second_nav_wrapper {
  width: 100%;
  height: 50px;

  opacity: 0;

  font-size: 20px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#second_nav_nome {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#second_nav_menu {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#second_nome_reload {
  margin-left: 10px;
  text-decoration: none;
  color: white;

  cursor: pointer;
}

#second_nav_menu_ul {
  width: 100%;
  height: 100%;

  margin: 0px;
  padding: 0px;

  list-style-type: none;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#second_nav_menu_ul > li {
  width: 33.3%;
  height: 100%;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

#second_nav_menu_ul > li:hover {

  text-decoration: underline;
  cursor: pointer;
  background-color: #363636;
}
